@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: #6441A5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6441A5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
}

body {
  font-family: montserrat, arial, verdana;
  background: transparent;
}

.msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

.msform {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 50%;
  margin: auto;

  /*stacking divs above each other*/
  position: relative;
}


/*inputs*/
.msform input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

.msform input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #1cd073;
  border-radius: 10px;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
.msform button {
  width: auto;
  background: #837027;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px 5px;
}

.msform button:hover, .msform button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #1cd073;
}

.msform .button-previous {
  width: 200px;
  background: #C5C5F1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 0px;
  margin: 5px 5px;
}

.msform .button-previous:hover, .msform .button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.saveButton{
  color: #6441A5;

}
/* Slider track */

.slider-container input[type="range"]::-webkit-slider-runnable-track {
  background: #a8e063;
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
  background: linear-gradient(to right, #a8e063, #56ab2f);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}

/* Slider thumb */
.slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-top: -3px;
  cursor: pointer;

}
#sliderInput{
  padding: 0px;
}


/* Slider thumb when active */
.slider-container input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.2);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  
}
